
.bg {
  background-color: #006600;
  -webkit-text-fill-color: white;
  border: 5px;
  border-color: #fff;

}
body{
background-color: #006600;
}
.navbar{
  position: top;
}
.navbar-brand {
  text-align: center;
  -webkit-text-fill-color: #006600;
  font-weight: bold;
  cursor: pointer;

}
.navbar-toggler {
  background-color:#ffffff;
}
/* .navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;..");
} */
.custom-toggler.navbar-toggler {
  border-color: rgb(0,102,0);
}
.nav-link{
  -webkit-text-fill-color: #006600;
  cursor: pointer;
}

p1 {
-webkit-text-fill-color: #006600;
background-color: #f8f9fa;
}
h5 {
  -webkit-text-fill-color: #006600;
}
.card-text {
  -webkit-text-fill-color: #006600;
  padding-bottom: 2px;
}
.container{
  padding-bottom: 50px;
  outline: 5px #fff;
  cursor: pointer;
  border-color: white;
}

#carousel{
  padding-top: 2%;
  text-align: left;
}

/* .btn-primary { 
background-color: #006600;
border-color: #006600;
} */
#officials{
background-color: white;
-webkit-text-fill-color: #006600;
border-color:#006600;
font-weight: bold;
}
#officials:hover, #officials:focus, #officials:active, #officials.active, .open>.dropdown-toggle#officials {
  color: #fff;
  background-color: #881607;
  border-color: #881607;
  -webkit-text-fill-color: whitesmoke; 
}
#cardbutton{
  background-color: white;
  -webkit-text-fill-color: #006600;
  border-color:#006600;
  font-weight: bold;
}

#cardbutton:hover, #cardbutton:focus, #cardbutton:active, #cardbutton.active, .open>.dropdown-toggle#cardbutton {
  color: #fff;
  background-color: #881607;
  border-color: #881607;
  -webkit-text-fill-color: whitesmoke; 
}

.btn {
background-color: #fff;
color: #006600;
border-color: #fff;
}
.btn-primary {
  color: #fff;
  background-color: #006600;
  border-color: #006600;
}
#getlobbydata {
background-color: white;
-webkit-text-fill-color: #006600;
border-color:#006600;
font-weight: bold;
display: none;
}
#getlobbydata:hover, #getlobbydata:focus, #getlobbydata:active, .btn-primary.active, .open>.dropdown-toggle#getlobbydata {
color: #fff;
  background-color: #881607;
  border-color: #881607;
  -webkit-text-fill-color: whitesmoke;
}
#lobby{
  display: none;
}
#firstcontent{
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  text-align: center;
}
#home {
  padding-top: 2%;
  text-align: left;
}
#about {
  padding-top: 2%;
  text-align: left;
  display: none;
}
#contact {
  padding-top: 2%;
  text-align: left;
  display: none;
}
h4 {
  -webkit-text-fill-color: #006600;
  text-align: center;
  font-weight: bold;

}
#content {
  display: none;
}
#cards {
  display: block;
}
#plan{
  padding-top: 5%;
  text-align: left;
  display: none;
}
#sen1{
  padding-top: 5%;
  text-align: left;
  display: none;
  border-color: white ;
}
#sen2{
  padding-top: 5%;
  text-align: left;
  display: none;
}
#rep{
  padding-top: 5%;
  text-align: left;
  display: none;
}
#content{
  padding-bottom: 5%;
}
#sen1data {
  padding-top: 5%;
  text-align: left;
  display: none;
  -webkit-text-fill-color: #006600;

}
#sen2data {
  padding-top: 5%;
  text-align: left;
  display: none;
  -webkit-text-fill-color: #006600;
}
#repdata {
  padding-top: 5%;
  text-align: left;
  display: none;
  -webkit-text-fill-color: #006600;
}
h6{
  font-weight: bold;
  font-size: x-large;
}
h7 {
  font-weight: bold;
  font-size: xx-large;
  -webkit-text-fill-color: #006600;
}
#committeeshit {
  display: none;
  padding-top: 25px;
}
#D {
  display: none;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  -webkit-text-fill-color: #006600;

}
#R {
  display: none;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff;
  -webkit-text-fill-color: #006600;
}

#inf{
  display: none;
  padding-top: 25px;
  padding-bottom: 25px;
}
h8 {
  -webkit-text-fill-color: white;
  font-weight: bold;
  font-size: x-large;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #006600;
  -webkit-text-fill-color: white;
  text-align: center;
  z-index: 1;
  max-height: 10%;
}
#footer2 {
padding-bottom: 5px;
}
#repcontent {
padding-top: 2%;
display: none;
}

#load{
display: none;
margin-left: 40%;
}
